.App {
  border: 1pt solid lightslategray;
}
a {
  color: black;
}
.pagesContainer {
  text-align: center;
  border: 3pt solid black;
  margin: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
  /* height: ; */
}
